.demo-layout-transparent {
  background: url('images/homepage_bg.png') center / cover;
}

.demo-layout-transparent-manage {
  background: url('images/manage.png') center / cover;
}

.demo-layout-transparent-help {
  background: url('images/help.png') center / cover;
}

.demo-layout-transparent-empty {
  background: url('images/emptyAP.png') center / cover;
  filter: grayscale(30%);
}

.demo-layout-transparent-book {
  background: url('images/search_flights.png') center / cover;
  filter: brightness(90%);
  
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.Title {
	cursor: pointer;
}

.main {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 70px;
}

.main-map {
	position: relative;
	margin: 40px;
	background: rgba(250, 250, 250, 0.9);
}

.booking {
	position: relative;
	height: 400px;
	background-color: rgba(250, 250, 250, 0.9);
}

.booking_h {
	font-size: 20px;
	font-weight: bold;
	top: 0;
	left: 0;
	padding-top: 50px;
	padding-left: 40px;
}

.empty_content {
	text-align: center;
	padding-top: 150px;
	position: center;
	font-size: 20px;
	font-weight: bold;
	color: #292929;
	background: rgba(255, 255, 255, 0.5);
	margin: 20px;
}

* {
	list-style: none;
	margin: 0;
	padding: 0;
}

.trip_types {
	padding-left:10px;
}

.type_wrap {
	padding-left:100px;
	width:20%;
	position: relative;
	user-select: none;
}

.type_wrap .type_default_option {
	position: relative;
	cursor: pointer;
}

.type_wrap .type_default_option li {
	padding: 10px 20px;
	padding-left: 10px;
}

.type_wrap .type_default_option:before {
	content: "";
	position: absolute;
	top: 14px;
	right: 30px;
	width: 6px;
	height: 6px;
	border: 1.3px solid;
	border-color: transparent transparent black black;
	transform: rotate(-45deg);
}

.type_wrap .type_ul {
	position: absolute;
	top: 45px;
	left: 60px;
	width: 90%;
	background-color: #303030;
	border-radius: 5px;
	display: none;
	color: white;
	z-index: 2;
}

.type_wrap .type_ul li {
	padding: 10px 20px;
	cursor: pointer;
}

.type_wrap .type_ul li:hover {
	background: #5e5e5e
}

.type_wrap .type_ul li:first-child:hover {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.type_wrap .type_ul li:last-child:hover {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.type_wrap .type_option {
	display: flex;
	align-items: center;
}

.type_wrap.active .type_ul {
	display: block;
}

.type_wrap.active .type_default_option:before {
	top: 21px;
	transform: rotate(-225deg);
}

.schedule_button {
	padding-top: 50px;
	padding-bottom: 50px;
}

.wings {
	width: 30px;
	height: 30px;
	padding-bottom: 16px;
}

.table {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

table{
	width: 100%;
}

.flights_ {
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.rectangle {  
	position: relative;
	width: 100%;
	height: 150px;
	border-radius: 25px;
	background-color: rgba(250, 250, 250, 0.7);
}

.trip {
	padding-top: 20px;
	padding-left: 20px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 17px;
	font-weight: bold;
	color: blue;
}

.stops {
	padding-top: 20px;
	padding-right: 20px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 17px;
	font-weight: bold;
	color: #fcad03;
}

.contents {
	padding-bottom: 20px;
	padding-left: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 15px;
	line-height: 1.6;
}

.time {
	font-weight: bold;
	color: #ff5ed4;
}

.date {
	font-weight: bold;
	color: #04e800;
}

.button {
	padding-bottom: 20px;
	padding-right: 20px;
	position: absolute;
	bottom: 0;
	right: 0;;
}

.fromtoinput {
	padding-left: 120px;
	z-index: -1;
}

.textfield__input {
	border: none;
}

.ice {
	display: none;
	z-index: 1;
}

datalist {
  position: absolute;
  background-color: lightgrey;
  font-family: sans-serif;
  font-size: 0.8rem;
}

option {
  background-color: #bbb;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

.arrow {
	padding-left:20px;
	padding-right: 20px;
}

.date_field {
	padding-top:40px;
	padding-left: 200px;
	z-index: -1;
	height:100px;
	background-color: transparent;
}

.dep_date {
	border: none;
	background-color: transparent;
	width:200px;
	font-size:17px;
	cursor: pointer;
	
}

.date2 {
	left:0;
}

.type_scroll {
	overflow-y: auto;
	height: 250px;
}

.search_button {
	right:20;
	position: absolute;
	bottom: 15;
}

#map.active {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 50%;
	height: 60%; 
}

#airport {
	position: absolute;
	top: 5%;
	right: 5%;
	height:60%;
	width: 35%;
	background: transparent;
}

#route {
	position: absolute;
	left: 5%;
	bottom: 5%;
	height: 25%;
	width: 90%;
	background: transparent;
}

#route div {
	position: relative;
	height: 100%;
	width: 100%;
	background: transparent;
}

#route div #route-info {
	position: absolute;
	height: 100%;
	width: 70%;
	top: 0;
	left: 0;
	line-spacing: 2px;
	font-size: 17px;

}

#route div #confirm-button {
	position: absolute;
	right: 0;
	bottom: 0;
}

#confirm-button.disable {
	cursor: not-allowed;
}

#select-button.disable {
	cursor: not-allowed;
}

.schedule-info-img {
	height: 12px;
	width: 12px;
}

.schedule-info {
	color: black;
	font-size: 12px;
}

#IATA-FAA {
	font-weight: bold;
	font-size: 20px;
}

.schedule-arrow-img {
	height: 17px;
	width: 17px;
	cursor: pointer;
}

.airport-info {
	line-spacing: 2px;
	font-size: 17px;

}

.mapboxglpopupcontent {
	padding: 5px;
	position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    pointer-events: auto;
}

tr, tbody {
	width: 80%;
}

.manage-container {
	height:auto;
	width: 85%;
	margin: auto;
	margin-top: 40px;
}

.manage-rectangle {
	background: rgba(250, 250, 250, 0.7);;
	height: 150px;
	width: 100%;
	border-radius: 10px;
	position: relative;
}

.manage-rectangle .span {
	position: absolute;
	top: 10%;
	left: 2%;
	width: 81%;
	height: 60%;
	font-size: 15px;
	font-weight: 600;
}

.manage-rectangle .delete {
	position: absolute;
	right: 0;
	background-color: transparent;
	background: url("images/baseline_delete_black_24dp.png") center/cover;
	background-size: 25%;
	background-repeat: no-repeat;
	transition: background 0.5s;
	transition: background-color 0.5s;
	height: 100%;
	width: 15%;
	border-radius: 0px 10px 10px 0px;
}

.manage-rectangle .delete:hover {
	background: url("images/baseline_delete_white_24dp.png") center/cover;
	background-size: 25%;
	background-repeat: no-repeat;
	background-color: rgba(150, 0, 0, 0.8);
	transition: background-color 0.7s;
	transition: background 0.7s;
	cursor: pointer;
}

.view-container {
	position: relative;
	height:90%;
	width: 90%;
	margin: auto;
	margin-top: 3%;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 6px;
}

.view-map {
	position: absolute;
	top:2%;
	left: 1%;
	width: 98%;
	height: 47.5%;
	border-radius: 6px 6px 0px 0px;
}

.view-info {
	position: absolute;
	bottom: 2%;
	left: 1%;
	width: 98%;
	height: 47.5%;
	overflow-y: auto;
}

.view-info .route {
	position: relative;
	width: 100%;
	height: 160;
	background: rgba(200, 200, 200, 0.7);
	border-radius: 6px;
	z-index: 9;
}

.view-info .route:hover {
	background: rgba(120, 120, 120, 0.7);
	cursor: pointer;
}

.view-info .route .head{
	position: absolute;
	top: 10%;
	left: 1.5%;
	width: auto;
	height: auto;
	font-size: 20px;
	font-weight: 600;
}

.view-info .route .sub-head{
	position: absolute;
	top: 30%;
	left: 2%;
	width: auto;
	height: auto;
	font-size: 18px;
	font-weight: 500;
}

.view-info .route .vr {
	position: absolute;
	right: 40%;
	top: 2.5%;
	border-left: 1px solid rgba(0, 0, 0, 0.4);
	height: 95%;
}

.view-info .route .info {
	position: absolute;
	bottom: 10%;
	right: 20%;
	width: auto;
	font-size: 17px;
	font-weight: 500;
}

.view-info hr {
	border-top: 1px solid rgba(13, 13, 13, 0.3);
}

.help-container {
	position: absolute;
	background: rgba(255, 255, 255, 0.6);
	width: 80%;
	left: 10%;
}
